body{
    position: relative;
}

#home{
    transition: all .5s;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.listplay{
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    width: 70vw;
    height: 80vh;
    min-width: 500px;
    overflow-y: auto;
    margin: auto;
}
.itemsong{
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    border: 1px solid #adadad;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: #cfcfcf;
}

.playButton{
    transition: all .2s;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 15px 10px;
    border: 1px solid rgb(255, 255, 255) ;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
}
.playButton:hover{
    background-color: #fff;
    color: rgb(76, 76, 76);
}
.infoBox{
    flex: 1;
    padding-left: 15px;
    
}

.titleSong{
    font-size: 1.4rem;
}